@model EmployeeHelper.Models.BufferModels.BufferDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BufferDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BufferId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BufferId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsComplete)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsComplete)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DueOnDate)
        </dt>

        <dd>
            @{ string formatDate = Model.DueOnDate.ToLongDateString();}
            @Html.DisplayFor(model => formatDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompletedOnDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompletedOnDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BufferId }) |
    @Html.ActionLink("Completed By", "CompletedBy", new { id = Model.BufferId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
